/* TABLET VERSION */
@media all and (min-width: 768px){

}

/* DESKTOP VERSION */
@media all and (min-width: 992px){
    #sidebar{
        width: 150px;
    }

    .text-site-section{
        display: inline-block;
    }

    .logo-container{
        display: none;
    }

    .logo-large-container{
        display: inline-block;
    }

    .header-icons-desktop{
        display: inline-block;
    }
}