/* TABLET VERSION */
@media all and (min-width: 768px){
    .ms_hidden{
        display: table-cell;
    }
}

/* DESKTOP VERSION */
@media all and (min-width: 992px){
    #sidebar{
        min-width: 180px;
    }

    .text-site-section{
        display: inline-block;
    }

    .logo-container{
        display: none;
    }

    .logo-large-container{
        display: inline-block;
    }

    .header-icons-desktop{
        display: inline-block;
    }

    .site-section-container{
        margin: 10px 30px;
        width: auto;
    }

    .blaze-label.first-hidden{
        display: inline-block;
    }

    .blaze-label.hidden{
        display: none;
    }

    .new-student .offcanvas-end{
        width: 600px;
    }
}