/* TABLET VERSION */
@media all and (min-width: 768px){
    .ms_hidden{
        display: table-cell;
    }

}

/* DESKTOP VERSION */
@media all and (min-width: 992px){
    #sidebar{
        width: 300px;
    }

    .text-site-section{
        display: inline-block;
    }

    .logo-container{
        display: none;
    }

    .logo-large-container{
        display: inline-block;
    }

    .header-icons-desktop{
        display: inline-block;
    }

    .blaze-label.first-hidden{
        display: inline-block;
    }

    .blaze-label.hidden{
        display: none;
    }
}