/* stili generali */
:root{
    font-family: 'Roboto', sans-serif;
}

/* stili header */
header{
    height: 80px;
    width: 100%;
    /* debug */
    background-color: bisque;
}

/* stili main */
#main-wrapper{
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
}

/* sidebar */
#sidebar{
    width: 70px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #051e34;
}

.site-section{
    width: 100%;
    margin: 10px 0;
    /* debug
    background-color: black;
    min-height: 400px; */
}

.site-section-container a{
    color: white;
    text-decoration: none;
}

.site-section-container:hover{
    background-color: lightgrey;
    padding: 2px;
}

.site-section-container{
    text-align: center;
    margin: 25px 0;
}

.text-site-section{
    display: none;
    padding-left: 15px;
}

.main-icons{
    font-size: 20px;
}

.settings{
    width: 100%;
    /* debug */
    /* background-color: violet;
    min-height: 90px; */
}


/* main-content */
#main-content{
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
    /* debug */
    background-color: pink;
}

/* debug */
/* [class*="col-"]{
    background-color: aqua;
    min-height: 100px;
    margin-bottom: 30px;
} */