/* stili generali */
:root{
    font-family: 'Roboto', sans-serif;
}

/* stili header */
header{
    height: 70px;
    width: 100%;
}

.logo-container{
    width: 70px;
    padding: 10px;
    margin-left: 10px;
}

.logo-container img{
    width: 100%;
}

.logo-large-container{
    display: none;
    width: 150px;
    margin: 20px;
}

.logo-large-container img{
    width: 100%;
}

nav .d-flex{
    width: 100%;
}

nav .form-control{
    background-color: #e5e5e5;
    border: none;
    border-radius: 0 10px 10px 0;
}

.d-flex a{
    color: black;
    text-decoration: none;
}

.fa-magnifying-glass{
    background-color: #e5e5e5;
    border-radius: 10px 0 0 10px;
}

.header-icons{
    font-size: 20px;
    padding: 8px;
}

.fa-bell{
    color: #ff8f00;
    text-align: center;
}

.header-icons-desktop{
    display: none;
}

.header-icons-desktop a{
    color:#5b5858;
}

header .dropdown{
    display: inline;
    height: 20px;
}

.dropdown .btn{
    background-color: transparent;
    border: none;
    padding: 5px;
    margin: 0;
    width: 35px;
}

/* stili main */
#main-wrapper{
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
}

/* sidebar */
#sidebar{
    min-width: 70px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../img/sidebar-bg.png");
    background-position: center;
    background-color: #051e34;
}

.site-section{
    margin: 10px 0;
    width: 100%;
}

.site-section-container a{
    color: white;
    text-decoration: none;
    padding: 5px;
}

.site-section-container:hover{
    background-color: #808e9a;
    padding: 0px;
}

.site-section-container{
    text-align: center;
    width: 100%;
    margin: 20px 0;
}

.text-site-section{
    display: none;
    padding-left: 15px;
}

.main-icons{
    font-size: 20px;
    padding: 5px;
}


/* main-content */
#main-content{
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
    background-color: #f8f9fa;
}

/* bar-section */
#bar-section{
    background-color: #1b72e8;
    color: white;
}

.boolean-section{
    font-size: 25px;
    margin: 20px 0;
}

.boolean-section a{
    color: white;
    text-decoration: none;
}

.blaze-label{
    display: inline-block;
    border-radius: 20px;
    background-color: #165bba;
    padding: 5px;
    font-size: 13px;
}

.fa-angles-right{
    font-size: 12px;
}

.blaze-label.first-hidden{
    display: none;
}

.online-students, .new-student{
    padding: 20px 0;
}

.new-student .btn-primary{
    background-color: transparent;
    border-color: white;
}

.new-student .offcanvas-header{
    color: black;
    text-align: left;
}

.new-student .offcanvas-end{
    width: 100%;
}

.new-student form{
    color: black;
    text-align: left;
}

.form-label.photo{
    margin-bottom: 0;
}

.ms_file{
    margin-top: 0.5rem;
}

.offcanvas-body .btn{
    background-color: #0d6efd;
    font-size: 15px;
}

.offcanvas-body .ms_svuota{
    background-color: #ffc107;
    color: black;
}

.form-check{
    padding-left: 2rem;
}

.number-student{
    font-size: 25px;
}

/* classes */
#classes, #faq, #todo, #user-active{
    border: 1px solid #eef0f2;
    margin: 30px 0;
    border-radius: 10px;
    background-color: white;
}

#classes h5, #faq h5, #todo h5{
    padding: 20px 15px;
    border-bottom: 1px solid #eef0f2;
    font-size: 25px;
    background-color: #f7f7f7;
    border-radius: 10px 10px 0 0;
}

.ms_table{
    padding: 15px;
}

.table > :not(:last-child) > :last-child > * {
    border-bottom-color: inherit; 
}

.img-avatar-container{
    width: 30px;
    background-color: white;
    display: inline-block;
    margin-right: 5px;
}

.img-avatar-container img{
    width: 100%;
    background-color: white;
}

.label{
    padding: 2px;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 10px;
    margin: 5px 0;
    width: 50px;
}

.done{
    background-color: #198754;
}

.failed{
    background-color: #dc3545;
}

.process{
    background-color: #ffc107;
}

.fa-trash, .fa-pencil{
    color: #6c757d;
    padding: 5px;
    margin: 0 3px;
    border: 1px solid #6c757d;
    border-radius: 3px;
}

.fa-pencil:hover, .fa-trash:hover{
    background-color: #b6bcc2b1;
}

.ms_hidden{
    display: none;
}

/* faq */
.ms_faq{
    padding: 0 15px;
}

.ms_faq .accordion-item{
    border: none;
    border-bottom: 1px solid #eef0f2;
}

/* to do */
.ms_checkbox-container{
    border: 1px solid #eef0f2;
    margin: 10px;
    border-radius: 10px;
}

#todo .form-check{
    padding: 5px 0;
    border-top: 1px solid #eef0f2;
    margin-left: 40px;
}

#todo .ms_no-border{
    border-top: none;
}

.img-graph-container img{
    width: 100%;
}

/* user attivi */
#user-active{
    padding: 10px;
}

.ms_user-active{
    border: 1px solid #eef0f2;
    border-radius: 10px;
}

.img-graph-container{
    margin: 10px;
}

h6{
    padding-left: 10px;
}

.ms_user-active span{
    padding-bottom: 15px;
    display: inline-block;
    padding-left: 10px;
}

.month-report{
    border-top: 1px solid #eef0f2;
    padding: 5px 10px;
}